<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="Monto Plugin for Eclipse"
            extensions="monto"
            language="Monto">
      </language>
  </extension>
  <extension
     point="org.eclipse.imp.runtime.languageDescription">
      <language
          derivedFrom="Monto"
          description="Java"
          extensions="java"
          language="java">
      </language>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="de.tudarmstadt.stg.monto.MontoParseController"
            language="Monto">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tudarmstadt.stg.monto.sink.SinkViewer"
            default="false"
            id="de.tudarmstadt.stg.monto.sinkviewer"
            name="Sink Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.editorActionContributions">
      <editorActionContributor
            class="de.tudarmstadt.stg.monto.EditorContribution"
            language="Monto">
      </editorActionContributor>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="de.tudarmstadt.stg.monto.color.TokenColorer"
            language="Monto">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      
      <themeElementCategory
            id="de.tudarmstadt.stg.monto.basecolors"
            label="Monto Base Colors (Solarized)">
         <description>
            Colors are derived from http://ethanschoonover.com/solarized
         </description>
      </themeElementCategory>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base0"
            isEditable="true"
            label="base0"
            value="131,148,150">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base1"
            isEditable="true"
            label="base1"
            value="147,161,161">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base2"
            isEditable="true"
            label="base2"
            value="238,232,213">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base3"
            isEditable="true"
            label="base3"
            value="253,246,227">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base00"
            isEditable="true"
            label="base00"
            value="101,123,131">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base01"
            isEditable="true"
            label="base01"
            value="88,110,117">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base02"
            isEditable="true"
            label="base02"
            value="7,54,66">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.base03"
            isEditable="true"
            label="base03"
            value="0,43,54">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.yellow"
            isEditable="true"
            label="Yellow"
            value="181,137,0">
	  </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.orange"
            isEditable="true"
            label="Orange"
            value="131,148,150">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.red"
            isEditable="true"
            label="Red"
            value="220,50,47">
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.magenta"
            isEditable="true"
            label="Magenta"
            value="211,54,130">      
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.violet"
            isEditable="true"
            label="Violet"
            value="108,113,196">      
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.blue"
            isEditable="true"
            label="Blue"
            value="38,139,210">      
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.cyan"
            isEditable="true"
            label="Cyan"
            value="42,161,152">      
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.green"
            isEditable="true"
            label="Green"
            value="133,153,0">      
      </colorDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.regular"
            isEditable="true"
            label="Regular Font"
            value="Monospace-regular-10">      
      </fontDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.bold"
            isEditable="true"
            label="Bold Font"
            value="Monospace-bold-10">      
      </fontDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.basecolors"
            id="de.tudarmstadt.stg.monto.italic"
            isEditable="true"
            label="Italic Font"
            value="Monospace-italic-10">      
      </fontDefinition>
      
      <themeElementCategory
            id="de.tudarmstadt.stg.monto.category"
            label="Monto Syntax Colors">
         <description>
            A predefined set of categories of tokens. Derived from vim:
 			http://vimdoc.sourceforge.net/htmldoc/syntax.html#group-name
         </description>
      </themeElementCategory>
      
      <colorDefinition
            label="Comment"
            id="de.tudarmstadt.stg.monto.category.comment"
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.base01"
            isEditable="true">
         <description>
            Any comment
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Constant"
            id="de.tudarmstadt.stg.monto.category.constant"
            defaultsTo="de.tudarmstadt.stg.monto.cyan"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            Any constant
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="String Literal"
            id="de.tudarmstadt.stg.monto.category.string"
            defaultsTo="de.tudarmstadt.stg.monto.category.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A string constant: "this is a string"
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Character Literal"
            id="de.tudarmstadt.stg.monto.category.character"
            defaultsTo="de.tudarmstadt.stg.monto.category.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A character constant: &apos;c&apos;, &apos;\n&apos;
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Number Literal"
            id="de.tudarmstadt.stg.monto.category.number"
            defaultsTo="de.tudarmstadt.stg.monto.category.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A number constant: 234, 0xff
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Boolean Literal"
            id="de.tudarmstadt.stg.monto.category.boolean"
            defaultsTo="de.tudarmstadt.stg.monto.category.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A boolean constant: TRUE, false
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Float Literal"
            id="de.tudarmstadt.stg.monto.category.float"
            defaultsTo="de.tudarmstadt.stg.monto.category.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A floating point constant: 2.3e10
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Identifier"
            id="de.tudarmstadt.stg.monto.category.identifier"
            defaultsTo="de.tudarmstadt.stg.monto.blue"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            Any variable name
         </description>
      </colorDefinition>

      <colorDefinition
            label="Statement"
            id="de.tudarmstadt.stg.monto.category.statement"
            defaultsTo="de.tudarmstadt.stg.monto.green"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            Any statement
         </description>
      </colorDefinition>

      <colorDefinition
            label="Conditional"
            id="de.tudarmstadt.stg.monto.category.conditional"
            defaultsTo="de.tudarmstadt.stg.monto.category.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            if, then, else, endif, switch, etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Repeat"
            id="de.tudarmstadt.stg.monto.category.repeat"
            defaultsTo="de.tudarmstadt.stg.monto.category.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            for, do, while, continue, break, etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Label"
            id="de.tudarmstadt.stg.monto.category.label"
            defaultsTo="de.tudarmstadt.stg.monto.category.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            case, default, etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Operator"
            id="de.tudarmstadt.stg.monto.category.operator"
            defaultsTo="de.tudarmstadt.stg.monto.category.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            "sizeof", "+", "*", etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Keyword"
            id="de.tudarmstadt.stg.monto.category.keyword"
            defaultsTo="de.tudarmstadt.stg.monto.category.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            Any other keyword
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Exception"
            id="de.tudarmstadt.stg.monto.category.exception"
            defaultsTo="de.tudarmstadt.stg.monto.category.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            try, catch, throw
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Meta"
            id="de.tudarmstadt.stg.monto.category.meta"
            defaultsTo="de.tudarmstadt.stg.monto.orange"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            C preprocessor macros, Java Annotations, etc
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Type"
            id="de.tudarmstadt.stg.monto.category.type"
            defaultsTo="de.tudarmstadt.stg.monto.yellow"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            int, long, char, etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Modifier"
            id="de.tudarmstadt.stg.monto.category.modifier"
            defaultsTo="de.tudarmstadt.stg.monto.category.type"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            public, private, static, etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Structure"
            id="de.tudarmstadt.stg.monto.category.structure"
            defaultsTo="de.tudarmstadt.stg.monto.category.type"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            struct, union, enum, class etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.red"
            id="de.tudarmstadt.stg.monto.category.unknown"
            isEditable="true"
            label="Unknown">
         <description>
            Unknown token, can occur during text insertion or due to syntax errors.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Normal"
            id="de.tudarmstadt.stg.monto.category.normal"
            defaultsTo="de.tudarmstadt.stg.monto.base0"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
      </colorDefinition>
     
      <colorDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.category.normal"
            id="de.tudarmstadt.stg.monto.category.delimiter"
            isEditable="true"
            label="Delimiter">
         <description>
            , . ; etc.
         </description>
      </colorDefinition>
      
      <colorDefinition
            label="Parenthesis"
            id="de.tudarmstadt.stg.monto.category.parenthesis"
            defaultsTo="de.tudarmstadt.stg.monto.category.normal"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            () [] {}, &lt; &gt; etc.
         </description>
      </colorDefinition>

      <!-- font definitions -->

      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.italic"
            id="de.tudarmstadt.stg.monto.category.font.comment"
            isEditable="true"
            label="Comment Font">
         <description>
            Any comment
         </description>
      </fontDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.regular"
            id="de.tudarmstadt.stg.monto.category.font.constant"
            isEditable="true"
            label="Constant Font">
         <description>
            Any constant
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="String Literal Font"
            id="de.tudarmstadt.stg.monto.category.font.string"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A string constant: "this is a string"
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Character Literal Font"
            id="de.tudarmstadt.stg.monto.category.font.character"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A character constant: &apos;c&apos;, &apos;\n&apos;
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Number Literal Font"
            id="de.tudarmstadt.stg.monto.category.font.number"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A number constant: 234, 0xff
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Boolean Literal Font"
            id="de.tudarmstadt.stg.monto.category.font.boolean"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A boolean constant: TRUE, false
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Float Literal Font"
            id="de.tudarmstadt.stg.monto.category.font.float"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.constant"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            A floating point constant: 2.3e10
         </description>
      </fontDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.regular"
            id="de.tudarmstadt.stg.monto.category.font.identifier"
            isEditable="true"
            label="Identifier Font">
         <description>
            Any variable name
         </description>
      </fontDefinition>

      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.regular"
            id="de.tudarmstadt.stg.monto.category.font.statement"
            isEditable="true"
            label="Statement Font">
         <description>
            Any statement
         </description>
      </fontDefinition>

      <fontDefinition
            label="Conditional Font"
            id="de.tudarmstadt.stg.monto.category.font.conditional"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            if, then, else, endif, switch, etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Repeat Font"
            id="de.tudarmstadt.stg.monto.category.font.repeat"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            for, do, while, continue, break, etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Label Font"
            id="de.tudarmstadt.stg.monto.category.font.label"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            case, default, etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Operator Font"
            id="de.tudarmstadt.stg.monto.category.font.operator"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            "sizeof", "+", "*", etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Keyword Font"
            id="de.tudarmstadt.stg.monto.category.font.keyword"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            Any other keyword
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Exception Font"
            id="de.tudarmstadt.stg.monto.category.font.exception"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.statement"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            try, catch, throw
         </description>
      </fontDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.italic"
            id="de.tudarmstadt.stg.monto.category.font.meta"
            isEditable="true"
            label="Meta Font">
         <description>
            C preprocessor macros, Java Annotations, etc
         </description>
      </fontDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.bold"
            id="de.tudarmstadt.stg.monto.category.font.type"
            isEditable="true"
            label="Type Font">
         <description>
            int, long, char, etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Modifier Font"
            id="de.tudarmstadt.stg.monto.category.font.modifier"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.type"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            public, private, static, etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Structure Font"
            id="de.tudarmstadt.stg.monto.category.font.structure"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.type"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            struct, union, enum, class etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Unknown Font"
            id="de.tudarmstadt.stg.monto.category.font.unknown"
            defaultsTo="de.tudarmstadt.stg.monto.italic"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            Unknown token, can occur during text insertion or due to syntax errors.
         </description>
      </fontDefinition>
      
      <fontDefinition
            categoryId="de.tudarmstadt.stg.monto.category"
            defaultsTo="de.tudarmstadt.stg.monto.regular"
            id="de.tudarmstadt.stg.monto.category.font.normal"
            isEditable="true"
            label="Normal Font">
      </fontDefinition>
     
      <fontDefinition
            label="Delimiter Font"
            id="de.tudarmstadt.stg.monto.category.font.delimiter"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.normal"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            , . ; etc.
         </description>
      </fontDefinition>
      
      <fontDefinition
            label="Parenthesis Font"
            id="de.tudarmstadt.stg.monto.category.font.parenthesis"
            defaultsTo="de.tudarmstadt.stg.monto.category.font.normal"
            categoryId="de.tudarmstadt.stg.monto.category"
            isEditable="true">
         <description>
            () [] {}, &lt; &gt; etc.
         </description>
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="de.tudarmstadt.stg.monto.outline.TreeModelBuilder"
            language="Monto">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="de.tudarmstadt.stg.monto.outline.LabelProvider"
            language="Monto">
      </labelProvider>
   </extension>
</plugin>
